<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suit name" thread-count="3" parallel="true">
	<suite-files>
		<suite-file
			path="/AssesmentAutomationProject/resources/suites/HeatClinic.xml" />
			

	</suite-files>
	<suite-files>
		<suite-file
			path="/AssesmentAutomationProject/resources/suites/Tutorialsninja.xml" />
			

	</suite-files>
</suite> <!-- Suite -->

